.card-container {
  display: flex;
  justify-content: space-around; /* Espaço ao redor dos cards */
  align-items: center;
  padding: 20px;
}

.card {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  width: 200px; /* Largura dos cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
}
